.container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid red;
}

img {
  width: 50px;
}

.icon {
  margin: auto;
}

.name {
  margin: auto;
}

.price {
  margin: auto;
}

.cap {
  margin: auto;
}